<% provide(:title, "About Me") %>

<h1>About Me</h1>
<p>Hello guys!
	<br>Tôi tên là Nguyễn Đức Hợp. Sinh năm 1998 (22 tuổi)
	<br>Tôi sinh ra và lớn lên tại một làng quê yên bình và nơi đó, mọi người sống với nhau hòa hợp, vui vẻ
	<br>Tôi hiện đang học chuyên ngành Kĩ thuật Viễn Thông, khóa 57 tại Trường Đại học Giao thông Vận tải
	<br>Tôi cũng đạt được 1 số thành tích ở lớp, trường nhưng tôi lại yêu thích về bộ môn lập trình.
	<br>Tôi đang đi học lập trình tại công ty BUNBU.
	<br>Và tôi bắt đầu xây dựng một ứng dụng blog và đó chính là blog mà các bạn đang truy cập
</p>

