<% provide(:title, "Help") %>

<h1>Help</h1>
<p>Để biết thêm thông tin chi tiết cũng như có được sự trợ giúp của tôi vui lòng liên hệ:
	<br>Vũ Nguyễn Đức Hợp
	<br>SĐT: 0772333298
	<br>Gmail: hopnd98@gmail.com
	<br>Facebook: <a href="https://www.facebook.com/vunguyen.duchop"> Vũ Nguyễn Đức Hợp </a>
</p>	
