<% provide(:title, "Home") %>

<h1>Hop Blog</h1>
<p>Welcome to my blog. This is the first blog of me
	<br>Facebook: <a href="https://www.facebook.com/vunguyen.duchop"> Vũ Nguyễn Đức Hợp </a>
	<br>Gmail: hopnd98@gmail.com
	<br>Instagam: vunguyen.duchop
</p>